.content {
    width: 100%;
    height: 1500px;
    margin: 0;
    background: linear-gradient(#DFF1FE, rgb(98, 229, 68));
    border: solid 1px white;
}

.header {
    width: 90%;
    height: 100px;
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;
}

.home__button,
.register__button,
.login__button {
    margin: 20px 30px;
    padding: 10px 30px;
    border: 0;
    border-radius: 20px;
    background: white;
    font-size: 20px;
    color: darkturquoise;
    font-family: "Zen Maru Gothic", serif;
    cursor: pointer;
}

.outer {
    width: 90%;
    height: 600px;
    padding: 400px auto;
    margin: auto;
}

.title {
    width: 90%;
    height: 100px;
    margin: 100px auto 100px;
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    font-family: "Zen Maru Gothic", serif;
}

.register__outer,
.login__outer{
    width: 50%;
    margin: 50px auto;
}

.register__p,
.login__p{
    color: white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Zen Maru Gothic", serif;
}

.register__input,
.login__input{
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: dimgray;
    font-weight: normal;
    font-family: "Zen Maru Gothic", serif;
}

.button__outer {
    width: 50%;
    height: 100px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 10px auto;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: white;
    border: double 3px white;
    outline: double 1px white;
    outline-offset: 2px;
    color: limegreen;
    font-size: 20px;
    font-family: "Zen Maru Gothic", serif;
    cursor: pointer;
}

.info__button {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    border: double 3px white;
    outline: double 1px white;
    outline-offset: 2px;
    color: limegreen;
    font-size: 20px;
    font-family: "Zen Maru Gothic", serif;
    cursor: pointer;
}